.channels-header {
  padding-bottom: 10px;
  border-radius: 0;
  border: 2px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

.channel-list-item{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid gray;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.channel-list-item:hover{
  background: gray;
  transition: 0.5s;
  opacity: .9;
}