
.top-nav {
  display: flex;
  justify-content: center;
  color: white;
}

.top-nav > ul {
  display: flex;
}
.top-nav > ul > li {
  padding-right: 5vw;
}

.invite-code {
  color:white;
  background-color: black;
  border: none;
  width: 100%;
  margin-top: auto;
}

.logout {
  color:white;
  background-color: black;
  border: none;
  height: 40px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 5px;
  margin-right: 5px;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

.landing {
  background: #282b30;
  display: flex;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
}

.side-bar {
  background: #282b30;
  display: flex;
  flex-grow: 1;
}
.server-wrap {
  background: #282b30;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 7vw;
}
.channel-wrap {
  background: #36393e;
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.user-wrap {
  background: #36393e;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
}

.image-link {
  height: 5vh;
}