.greet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entry-options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: 1;
}

.greet h1 {
  flex-grow: 2;
}

.top-nav {
  display: flex;
  justify-content: center;
}

.top-nav > ul {
  display: flex;
}
.top-nav > ul > li {
  padding-left: 5vw;
}

.logout {
  position: absolute;
  right: 0;
}

.landing {
  display: flex;
}

.side-bar {
  display: flex;
  flex-grow: 1;
}
.server-wrap {
  background: #1e2124;
  display: flex;
  flex-direction: column;
}
.channel-wrap {
  background: #282b30;
  display: flex;
  flex-direction: column;
}

.user-wrap {
  background: #1e2124;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
