// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// * {
//   border-style: solid;
//   border-color: pink;
//   border-width: 3px;
// }

.chat-wrap {
  background: #424549;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  height: 100vh;
  width: 50%;
  color: white;
  overflow-y: visible;
  overflow-x: hidden;
  flex-grow: 3;
}

.chat-wrap::-webkit-scrollbar-track{
  padding: 2px 0;
  background-color: #404040;
}

.chat-wrap::-webkit-scrollbar{
  width: 10px;
}

.chat-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}

.dischat {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  resize: none;
}

.message-holder{
  margin-top: auto;
  height: fit-content;
}

.no-messages{
  margin-top: auto;
}

.box {
  color: white;
  background: #424549;
  outline: none;
  height: 30px;
  width: 92%;
  overflow-y: auto;
  resize: none;
}

.position-chat {
  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  bottom: 0;
  background: #282b30;
  width: 100%;
  z-index: 1;
  height: 40px;
}
button {
  padding: 0;
  margin: 0;
}

.send-message {
  align-self: flex-start;
  height: 40px;
  width: 7%;
  padding: 5px;
  color: white;
}

.user-message{
  padding: 5px;
}

.author{
  position: relative;
  font-weight: bold;
  padding: 5px;
}

.edit-pencil{
  position: absolute;
  background: gray;
  opacity: .9;
  border: 2px solid gray;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
}

.message-delete-svg{
  position: absolute;
  background: gray;
  opacity: .9;
  border: 2px solid gray;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 30px;
}

.user-message:hover{
  background: #282b30;
  transition: 0.3s;
  opacity: .9;
  border: 2px;
}

.message-channel-header{
  border-left: 2px solid gray;
  border-radius: 0;
  height: 44px;
  position: sticky;
  top: 0;
  background: #36393e;
  z-index: 4;
  padding-bottom: 12px;
}

.no-message-channel-header{
  border-left: 2px solid gray;
  border-radius: 0;
  height: 44px;
  position: relative;
  top: 0;
  background: #36393e;
  z-index: 4;
}

.message-list{
  padding-left: 5px;
}