// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// * {
//   border-style: solid;
//   border-color: pink;
//   border-width: 3px;
// }

.chat-wrap {
  background: #424549;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  bottom: 0;
  height: 80vh;
  color: white;
  overflow: scroll;
  flex-grow: 3;
  margin-top: 2.5%;
}
.dischat {
  display: flex;
  width: 100%;
  flex-direction: column;
  // resize: none;
}

.box {
  background: #424549;
  outline: none;
  height: 5em;
  width: 35em;
  resize: none;
  overflow: auto;
  position: relative;
}

.position-chat {
  z-index: 1;
  position: absolute;
  bottom: 2vh;
}
.box::-webkit-scrollbar {
  display: none;
}