.user-wrap > h3 {
  padding-bottom: 10px;
}
.user-wrap{
  padding-left: 5px;
}

.code {
  margin-top: auto;
  border: 2px solid gray;
  color: white
}

.code:hover{
  background: gray;
  transition: 0.3s;
  opacity: .9;
  border: 2px solid gray;
}

.leave-server{
  width: 20px;
  background: white;
}