// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// text styles needed "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
* {
  // trade off load speed for precision of text sizing
  text-rendering: geometricPrecision;
  border-radius: 5px;
}

body {
  background: #1e2124;
  font-family: "Nunito Sans", sans-serif;
}

.top-nav, .footer {
  background: #5865f2;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

p {
  font-family: "Whitney";
}

.sign-wrapper {
  background: #7289da;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-container > * {
  display: inherit;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  background: #36393e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 40vh;
}

.login-form {
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.log-label {
  justify-content: center;
  align-items: center;
}

.login-field {
  margin-top: 10px;
  background: 	#282b30;
  border-style: none;
  border-radius: 5px;
}
.session-start {
  background:	#6b83d8;
  border-style: solid;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}